In [1]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [2]:
#Only get data analyst jobs in the US
df_DA_US = df[(df['job_title_short'] == 'Data Analyst') & (df['job_country'] == 'United States')].copy()

In [4]:
df_DA_US = df_DA_US.dropna(subset=['salary_year_avg'])

df_DA_US_explode = df_DA_US.explode('job_skills')

df_DA_US[['salary_year_avg','job_skills']].head(5)

     salary_year_avg job_skills
109          89000.0     python
109          89000.0          r
109          89000.0    alteryx
109          89000.0    tableau
180          90250.0      excel

In [16]:
df_DA_skills = df_DA_US_explode.groupby('job_skills')['salary_year_avg'].agg(['median','count']).sort_values('count',ascending=False).head(10)

df_DA_skills = df_DA_skills.rename(columns={'count':'skill_count','median':'median_salary'})

DA_job_count = len(df_DA_US)

df_DA_skills['skill_percent'] = df_DA_skills['skill_count'] / DA_job_count * 100

df_DA_skills

            median_salary  skill_count  skill_percent
job_skills
sql              91000.00         2508      14.380734
excel            84392.00         1808      10.366972
python           97500.00         1431       8.205275
tableau          92875.00         1364       7.821101
sas              90000.00          926       5.309633
r                92500.00          893       5.120413
power bi         90000.00          838       4.805046
powerpoint       85000.00          462       2.649083
word             81194.75          461       2.643349
sql server       92500.00          286       1.639908